<!doctype html>
{% block head %}

<link href="{{ css }}" rel="stylesheet" type="text/css" />
<title>We Meme 微秘密</title>

<meta http-equiv="refresh" content="15" >


<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=760,height=700,scrollbars=yes');
return false;
}
//-->
</SCRIPT>


{% endblock %}


<body onLoad="enlargeWindow()">
<div style="float:left;color:white;width:500px;margin-left:130px">
    <br>
                                   
<p style="color:white;font-size:8pt">Animated GIFs and image memes have very few analogues in the pre-internet world. Flickering
cave paintings and memetic symbols like the ichthys and rainbow flag give tantalizing glimpses
to a future of rapidly spreading images. And while science fiction is filled with predictions of a
rich communications medium that exists in networked and mobile space, no one could predict
the rise of the LOLCat, Autotunes and the Hamster dance. These addictive, viral, remixed media
were birthed from and belong to the internet generation.<BR><BR><BR>

Borrowing from the aspirational idea of Indianapolis as a “Crossroads of America”, We Meme is a project
that seeks to explore the internet as a site for the cross pollination of visual culture online.
Unbound by words, image memes take on a life of their own online and often leap across
linguistic and cultural barriers and technical firewalls. One could say they are of the internet,
birthed from the unique crossroads of online cultures and belonging to a broader internet
culture.<BR><BR><BR>

We Meme is a simple project to connect two cultures via the language of memes. On one panel
are animated GIFs and image memes from Tumblr in China. On the other are animated GIFs
and image memes from Tumblr in the United States. Visitors will be invited to sit and watch
them. Although the initial images will be curated by the artist, anyone, including a select number
of invited guest artists, may submit their own images for conclusion via the Tumblr feed.<BR><BR><BR>

From the recent 2012 US Presidential elections to the 2011 Wenzhou train crash, internet
memes have played a vital role in expressing public sentiment about critical issues of the day
with a touch of humor and wackiness. They represent a new direction in how we communicate,
what writer and Know Your Meme co-founder Kenyatta Cheese once wrote:<BR></p>

<blockquote style="color:white;font-size:8pt">Being the advanced society I imagine Tumblr to be, we no longer have to use
sentences and emoticons. We’ve figured out how to express ourselves by finding
moments within common points of culture (movies, tv, YouTube videos) and posting
that moment, that emotion, as a single 500kb reaction gif.</blockquote>

<p style="color:white;font-size:8pt">We Meme seeks to explore the implications of this communicative shift to images, as much a
global trend as it is specific to the the cultural and political contexts of the United States, China
and other countries.<br><br>
                            
                            <em>An Xiao, 2012</em>
</p>
</div>


</div>
</div>

</body>

