<!doctype html>
{% block head %}

<link href="{{ css }}" rel="stylesheet" type="text/css" />
<title>We Meme 微秘密</title>

<meta http-equiv="refresh" content="15" >


<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=760,height=700,scrollbars=yes');
return false;
}
//-->
</SCRIPT>


{% endblock %}


<body>
<div style="float:left;color:white;width:500px;margin-left:130px">
    <br>
                                   
<p style="color:white;font-size:8pt">This site is lovingly developed in Python, HTML and a wee bit of Javascript, working directly with Tumblr's API, and served up on the Flask microframework.  It relies heavily on open source software and will soon be released on Github.<br>
                                                                                                                                                                                                                                                         <br>
                                                                                                                                                                                                                                                             This site is meant as a simulation of the original installation at the Indianapolis Museum of Contemporary Art as part of the Global Spaces exhibition, curated by Ben Valentine.
</p>
</div>


</div>
</div>

</body>

